@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.textcal::-webkit-scrollbar {
  width: 12px;
  /* Ancho de la barra de desplazamiento */
  height: 7px;
}

/* Estilos para el track (fondo) de la barra de desplazamiento */
.textcal::-webkit-scrollbar-track {
  background-color: #f1f1f100;
  /* Color de fondo del track */
}

/* Estilos para el thumb (agarradera) de la barra de desplazamiento */
.textcal::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color de fondo del thumb */
  border-radius: 12px;
  /* Radio de la esquina del thumb */
}

/* Estilos para el thumb al ser pulsado o activo */
.textcal::-webkit-scrollbar-thumb:active {
  background-color: #555;
  /* Color de fondo del thumb activo */
}

body{
  background-color: #e5e5e5;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
}

.swiper-pagination-bullet {
  background-color: white;
  width: 18px;
  height: 18px;
}

.swiper-pagination{
  margin-bottom: 16px;
}


:root {
  --swiper-navigation-size: 28px;
  --swiper-theme-color: #e5e5e5;
}

.social-media .swiper-button-prev {
  color: #14213d;
}

.social-media .swiper-button-next {
  color: #14213d;
}

.social-media .swiper-pagination .swiper-pagination-bullet {
  background-color: #14213d;
}
